body {
    background-color:rgb(230, 228, 208);
    margin:0;
    font-family:'Gill Sans';
}

header{
    background: #55d6aa;
}

header::after{
    content:'';
    display: table;
    clear: both;
}

#menu{
    float: right;
    margin-right:70px;
}
h1{
    font-weight: normal;
    text-align: center;
}
#headerGallery{
    margin-bottom: 7px;
}

#logo{
    font-weight: normal;
    text-align: center;
    padding:10px;
    font-size:20px;
    border: 1px solid black;
    float:left;
    margin-left:10px;
}
/*navigation bar formatting and styling*/
#navLogo a:hover{
    color:white;
}
#navLogo a{
    color:#444;
    text-decoration: none;
}
#menu ul{
    margin: 0;
    padding:0;
    list-style: none;
}

#menu li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
}
#menu a{
    color: #444;
    text-transform:uppercase;
    text-decoration:none;
}

#menu a:hover{
    color: white;
}

#subheaderGallery{
    text-align: center;
    margin:0;
    margin-bottom:10px;
}

#aerialBeach{
    margin-top:40px;
    margin-left:20px;
}

/*home page background image formatting*/
#homeBody{
    background-image: url(Photos/fishing.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.photos{
    width: 465px;
    height:280px;
}

/*formatting photo sections*/
.hawaii{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.france{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.england{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.penn{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.maine{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.scotland{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.map{
    width: 465px;
    height:280px;
}

/*about page formatting*/
#aboutPhoto{
    margin-left:30px;
    margin-top:30px;
    float:left;
}

#aboutMe{
    font-size: 25px;
    margin-left: 490px;
    margin-top: 50px;
    margin-right: 5px;
    font-family:'Gill Sans';
}

#contactText{
    margin-top:70px;
    font-size:25px;
    text-align:center;
}

.logo{
    display:flex;
    justify-content: center;
}
/* user like icon*/
.heart-shape{
    margin-top:30px;
    margin-left:20px;
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width:0;
    background-color: rgb(199, 60, 32);
  }
  .heart-shape:before,
  .heart-shape:after{
    position: absolute;
    width: 40px;
    height: 40px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(199, 60, 32);
  }
  .heart-shape:before{
    bottom: 0px;
    left: -20px;
  }
  .heart-shape:after{
    top: -20px;
    right: 0px;
  }

/*testing

.contact{
    
}

#full_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow:scroll;
}*/
